<section *ngIf="character && house" class="c-character">
    <div class="row c-character__row">
        <div class="col d-flex justify-content-center flex-column align-items-center">
            <img src="{{ character.image }}" alt="{{ character.name }}" class="c-character__img" />
            <h2 class="c-character__name">{{ character.name }}</h2>
        </div>
        <div class="d-flex justify-content-center flex-wrap c-character__info">
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">{{ "CASA" | translate }}</h2>
                <ngx-simplebar>
                    <img height="150px" src="{{ house.logoURL }}" alt="{{ house.name }}" />
                </ngx-simplebar>
            </div>
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">{{ "ALIANZAS" | translate }}</h2>
                <ngx-simplebar>
                    <p *ngFor="let alieance of character.allegiances" class="c-character__text">
                        {{ alieance }}
                    </p>
                </ngx-simplebar>
            </div>
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">{{ "APARICIONES" | translate }}</h2>
                <ngx-simplebar>
                    <p *ngFor="let apparition of character.appearances" class="c-character__text">
                        {{ apparition }}
                    </p>
                </ngx-simplebar>
            </div>
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">{{ "PADRE" | translate }}</h2>
                <ngx-simplebar>
                    <p class="c-character__text">
                        {{ character.father }}
                    </p>
                </ngx-simplebar>
            </div>
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">
                    {{ "DESCENDIENTES" | translate }}
                </h2>
                <ngx-simplebar>
                    <p *ngFor="let sibling of character.siblings" class="c-character__text">
                        {{ sibling }}
                    </p>
                </ngx-simplebar>
            </div>
            <div class="c-character__block col-12 col-md-6 col-lg-4 col-xxl-2">
                <h2 class="c-character__title-desc">{{ "TITULOS" | translate }}</h2>
                <ngx-simplebar>
                    <p *ngFor="let title of character.titles" class="c-character__text">
                        {{ title }}
                    </p>
                </ngx-simplebar>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</section>