<footer class="c-footer">
    <nav class="c-footer__nav">
        <a class="c-footer__link" routerLink="characters" routerLinkActive="c-footer__link--active"> {{'PERSONAJES' |
            translate}}</a>
        <a class="c-footer__link" routerLink="houses" routerLinkActive="c-footer__link--active"> {{'CASAS' |
            translate}}</a>
        <a class="c-footer__link" routerLink="chronology" routerLinkActive="c-footer__link--active"> {{'CRONOLOGIA' |
            translate}}</a>
    </nav>
</footer>