@font-face {
  font-family: "lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "georgia";
  src: url("../../assets/fonts/georgia/georgia.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "got1";
  src: url("../../assets/fonts/GOT/Game_of_Thrones.ttf");
  font-weight: 400;
  font-style: normal;
}
